doctype html
head
  style
      include ../static/styleHome.css
  title Secret Santa
body 
.container 
  h1 Secret Santa 
  button
    a.text(href='/createGroup') New Group
  button
    a.text(href='/joinGroup') Join Group
  button
    a.text(href='/yourGroup') Your Groups
  br
  button
    a.text(href='/') Logout