doctype html
head
  style
      include ../static/styleYGroup.css
  script
      include ../app.js    
  title Secret Santa
body
.container 
  h1 Your Groups
  form(action='/yourGroup' method='post')
  

